.first {
  margin-top: 2.5rem !important;
}

.in-the-middle {
  text-align: center;
}

#verdict {
  h1 {
    font: {
      family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      weight: 900;
      size: 20rem;
    }
    display: block;
    margin: 7rem 0;
  }

}
