<% title "WHOSE BIRFDAY?" %>

<div class="sixteen columns first">
  <h1>let the world know its someone's birthday</h1>
  <%= link_to 'Create A Birthday Page', new_birthday_path, class: 'button' %>
  <hr>  
</div>

<div class="sixteen columns">
  <h2><%= show_lucky_one %></h2>
</div>


